<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs10.apps.travels.tracer">

    <!-- For Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- For Picasso -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- For Scheduled Notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATION" />

    <!-- Vibration -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelTracer">

        <!-- For Scheduled Notifications, even when app is dead -->
        <receiver
            android:name=".notification.NotificationBroadcast"
            android:enabled="true" />

        <activity
            android:name=".pages.stops.creator.MapViewActivity"
            android:exported="false" />

        <activity
            android:name=".pages.month_summary.EditBalanceActivity"
            android:exported="false"
            android:theme="@style/Theme.TravelTracer.Buses" />
        <activity
            android:name=".pages.SelectTravelType"
            android:label="Seleccione el objeto a crear" />
        <activity
            android:name=".pages.coffee.CoffeeCreator"
            android:theme="@style/Theme.TravelTracer.Coffee" />
        <activity
            android:name=".pages.registry.creator.BusTravelCreator"
            android:theme="@style/Theme.TravelTracer.Buses" />
        <activity
            android:name=".pages.registry.creator.TrainTravelCreator"
            android:theme="@style/Theme.TravelTracer.Trains" />
        <activity
            android:name=".pages.registry.creator.CarTravelCreator"
            android:theme="@style/Theme.TravelTracer.NoActionBar" />
        <activity
            android:name=".pages.registry.creator.MetroTravelCreator"
            android:theme="@style/Theme.TravelTracer.Subways" />
        <activity
            android:name=".pages.registry.editor.BusTravelEditor"
            android:theme="@style/Theme.TravelTracer.Buses" />
        <activity
            android:name=".pages.registry.editor.CarTravelEditor"
            android:theme="@style/Theme.TravelTracer.NoActionBar" />
        <activity
            android:name=".pages.registry.editor.TrainTravelEditor"
            android:theme="@style/Theme.TravelTracer.Trains" />
        <activity
            android:name=".pages.registry.editor.MetroTravelEditor"
            android:theme="@style/Theme.TravelTracer.Subways" />
        <activity
            android:name=".pages.stops.creator.StopCreator"
            android:theme="@style/Theme.TravelTracer.NoActionBar" />
        <activity
            android:name=".pages.stops.editor.StopEditor"
            android:theme="@style/Theme.TravelTracer.NoActionBar" />
        <activity
            android:name=".pages.home.ServiceDetail"
            android:theme="@style/Theme.TravelTracer.Trains" />
        <activity
            android:name=".pages.manage_lines.TrainDetail"
            android:theme="@style/Theme.TravelTracer.Trains" />
        <activity
            android:name=".pages.manage_lines.LineDetail"
            android:theme="@style/Theme.TravelTracer.Buses" />
        <activity
            android:name=".pages.manage_lines.HourStatsActivity"
            android:exported="false"
            android:theme="@style/Theme.TravelTracer.Buses" />
        <activity
            android:name=".pages.manage_zones.ZoneCreator"
            android:theme="@style/Theme.TravelTracer.Buses" />
        <activity
            android:name=".pages.manage_zones.ZoneEditor"
            android:theme="@style/Theme.TravelTracer.Buses" />
        <activity
            android:name=".pages.manage_lines.FilteredTravelsActivity"
            android:label="@string/travels"
            android:theme="@style/Theme.TravelTracer.Buses" />
        <activity
            android:name=".pages.DrawerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TravelTracer.NoActionBar" />
        <activity
            android:name=".LauncherActivity"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".legacy.MainActivity"
            android:theme="@style/Theme.TravelTracer.NoActionBar" />

        <!-- 2024 -->
        <activity android:name=".pages.stops.StopInfoActivity"
            android:theme="@style/Theme.TravelTracer.Buses" />
    </application>

</manifest>