<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs10.apps.travels.tracer">

    <!-- For Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- For Picasso -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- For Scheduled Notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATION" />

    <!-- Vibration -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelTracer">

        <!-- For Scheduled Notifications, even when app is dead -->
        <receiver
            android:name=".notification.NotificationBroadcast"
            android:enabled="true" />

        <activity
            android:name=".MapViewActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />

        <activity
            android:name=".ui.balance.EditBalanceActivity"
            android:exported="false"
            android:theme="@style/Theme.TravelTracer.Buses" />
        <activity
            android:name=".SelectTravelType"
            android:label="Seleccione el objeto a crear" />
        <activity
            android:name=".ui.coffee.CoffeeCreator"
            android:theme="@style/Theme.TravelTracer.Coffee" />
        <activity
            android:name=".modules.creator.ui.BusTravelCreator"
            android:theme="@style/Theme.TravelTracer.Buses" />
        <activity
            android:name=".modules.creator.ui.TrainTravelCreator"
            android:theme="@style/Theme.TravelTracer.Trains" />
        <activity
            android:name=".modules.creator.ui.CarTravelCreator"
            android:theme="@style/Theme.TravelTracer.NoActionBar" />
        <activity
            android:name=".ui.travels.BusTravelEditor"
            android:theme="@style/Theme.TravelTracer.Buses" />
        <activity
            android:name=".ui.travels.TrainTravelEditor"
            android:theme="@style/Theme.TravelTracer.Trains" />
        <activity
            android:name=".ui.stops.StopCreator"
            android:theme="@style/Theme.TravelTracer.NoActionBar" />
        <activity
            android:name=".ui.stops.StopEditor"
            android:theme="@style/Theme.TravelTracer.NoActionBar" />
        <activity
            android:name=".ui.service.ServiceDetail"
            android:theme="@style/Theme.TravelTracer.Trains" />
        <activity
            android:name=".modules.lines.ui.TrainDetail"
            android:theme="@style/Theme.TravelTracer.Trains" />
        <activity
            android:name=".modules.lines.ui.LineDetail"
            android:theme="@style/Theme.TravelTracer.Buses" />
        <activity
            android:name=".modules.lines.ui.HourStatsActivity"
            android:exported="false"
            android:theme="@style/Theme.TravelTracer.Buses" />
        <activity
            android:name=".ui.zones.ZoneCreator"
            android:theme="@style/Theme.TravelTracer.Buses" />
        <activity
            android:name=".ui.zones.ZoneEditor"
            android:theme="@style/Theme.TravelTracer.Buses" />
        <activity
            android:name=".modules.lines.ui.FilteredTravelsActivity"
            android:label="@string/travels"
            android:theme="@style/Theme.TravelTracer.Buses" />
        <activity
            android:name=".DrawerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TravelTracer.NoActionBar" />
        <activity
            android:name=".ui.LauncherActivity"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.TravelTracer.NoActionBar" />
    </application>

</manifest>