<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs10.apps.travels.tracer">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelTracer">

        <activity android:name=".ui.coffee.CoffeeCreator"
            android:theme="@style/Theme.TravelTracer.NoActionBar" />
        <activity android:name=".ui.travels.TravelCreator"
            android:theme="@style/Theme.TravelTracer.NoActionBar" />
        <activity android:name=".ui.travels.TravelEditor"
            android:theme="@style/Theme.TravelTracer.NoActionBar" />
        <activity android:name=".ui.stops.StopCreator"
            android:theme="@style/Theme.TravelTracer.NoActionBar" />
        <activity android:name=".ui.stops.StopEditor"
            android:theme="@style/Theme.TravelTracer.NoActionBar" />

        <activity
            android:name=".DrawerActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TravelTracer.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.TravelTracer.NoActionBar" />
    </application>

</manifest>